<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="KinoCollection"
         connectionString="Server=.\SQLEXPRESS;Database=KinoCollection;Trusted_Connection=True;MultipleActiveResultSets=true"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>