@using Core
@using System.Collections.Generic

@model List<Film>

               <div class="row">
                   @foreach (var film in Model)
                   {
                       <div class="col-md-4 mb-5">
                           <div class="card h-100">
                               <div class="card-body">
                                   <h2 class="card-title text-center">
                                       @film.Title
                                   </h2>
                               </div>
                           </div>
                       </div>
                   }
               </div>