@using Core;
@using System.Collections.Generic;
@model List<Collection>


    <div class="row">
        @foreach (var collect in Model)
        {
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title text-center">
                            <a asp-controller="Collection" asp-action="GetFilm_Collections" asp-route-ID_Collection="@collect.ID_Collection">@collect.Name</a>
                        </h2>
                    </div>
                </div>
            </div>
        }
    </div>
