@using Core
@using System.Collections.Generic

@model List<Film>


<H2>@Model[0].Title</H2>
<p>Страна создания фильма: @Model[0].Country</p>
<p>Режиссер @Model[0].Director</p>
<p>Продлжительность @Model[0].Duration мин.</p>