@using Core;
@using System.Collections.Generic;
@model List<Film>

<div class="row justify-content-end">
<a class="btn btn-primary" asp-controller="Film"
asp-action="Add" role="button">Add film</a>
</div>
<br/>

<div class="row">
@foreach (var film in Model)
{
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <div>
                    <img class="card-img-top" src="@film.Poster"
                         alt="@film.Poster"/>
                </div>
                <h2 class="card-title text-center">
                    <a asp-controller="Film" asp-action="GetID" asp-route-ID_Film="@film.ID_Film">@film.Title</a>
                </h2>
            </div>
        </div>
    </div>
}
</div>